{% extends 'app/base.html' %}
{% load static %}
{% block content %}


    <!--CARRUSEL-->
    <div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active data-bs-interval=" 100>
                <img src="{% static '/img/taller/taller.jpg' %}" class="d-block w-100" alt="...">
                <div class="carousel-caption d-none d-md-block">
                    <h3 class="titulo fw-bolder fs-2"></h3>
                    <p class=" titulo fw-bolder fs-4"></p>
                </div>
            </div>
            <div class="carousel-item data-bs-interval="100>
                <img src="{% static '/img/taller/taller2.jpg' %}" class="d-block w-100" alt="...">
                <div class="carousel-caption d-none d-md-block">
                    <h3 class="titulo fw-bolder fs-2"></h3>
                    <p class=" titulo fw-bolder fs-4"></p>
                </div>
            </div>
            <div class="carousel-item data-bs-interval=" 100>
                <img src="{% static '/img/taller/taller3.png' %}" class="d-block w-100" alt="...">
                <div class="carousel-caption d-none d-md-block">
                    <h3 class="titulo fw-bolder fs-2"></h3>
                    <p class=" titulo fw-bolder fs-4"></p>
                </div>
            </div>
            <div class="carousel-item data-bs-interval=" 100>
                <img src="{% static '/img/taller/taller4.png' %}" class="d-block w-100" alt="...">
                <div class="carousel-caption d-none d-md-block">
                    <h3 class="titulo fw-bolder fs-2"></h3>
                    <p class=" titulo fw-bolder fs-4"></p>
                </div>
            </div>
            <div class="carousel-item data-bs-interval=" 100>
                <img src="{% static '/img/taller/taller5.png' %}" class="d-block w-100" alt="...">
                <div class="carousel-caption d-none d-md-block">
                    <h3 class="titulo fw-bolder fs-2"></h3>
                    <p class=" titulo fw-bolder fs-4"></p>
                </div>
            </div>
            <div class="carousel-item data-bs-interval=" 100>
                <img src="{% static '/img/taller/taller6.jpg' %}" class="d-block w-100" alt="...">
                <div class="carousel-caption d-none d-md-block">
                    <h3 class="titulo fw-bolder fs-2"></h3>
                    <p class=" titulo fw-bolder fs-4"></p>
                </div>
            </div>
        </div>
    </div>
{% endblock %}


    

