{% extends 'app/base.html' %}
{% load static %}
{% block content %}
  <div class="container text-center">
    <h1>Mecanicos con sus servicios</h1>
  </div>

  <!--Cards-->
  <div class="card-group">
    <div class="card">
      <a href="{% url 'mecanico1'%}"><img class="img-fluid" src="{% static '/img/mecanicos/mecanico1.jpg' %}" alt="..." /></a>
      <strong class="text-center text-decoration-underline fs-3 text-dark">Jose Luis</strong>
      <strong class="text-center fs-4 text-dark">Especialista Electronica Automotriz</strong>
      <div class="card-body">
      </div>
      <div class="card-footer">
      </div>
    </div>
    <div class="card">
      <a href="{% url 'mecanico2' %}"><img class="img-fluid" src="{% static '/img/mecanicos/mecanico2.jpg' %}" alt="..." /></a>
      <strong class="text-center text-decoration-underline fs-3 text-dark">Pedro González</strong>
      <strong class="text-center fs-4 text-dark">Especialista Electronica Automotriz</strong>
      <div class="card-body">
      </div>
      <div class="card-footer">
      </div>
    </div>
    <div class="card">
      <a href="{% url 'mecanico3' %}"><img class="img-fluid" src="{% static '/img/mecanicos/mecanico3.jpg' %}" alt="..." /></a>
      <strong class="text-center text-decoration-underline fs-3 text-dark">Ricardo Aceituno</strong>
      <strong class="text-center fs-4 text-dark">Especialista en Caja de Cambios</strong>
      <div class="card-body">
      </div>
      <div class="card-footer">
      </div>
    </div>
  </div>
  <div class="card-group">
    <div class="card">
      <a href="{% url 'mecanico4' %}"><img class="img-fluid" src="{% static '/img/mecanicos/mecanico4.jpg' %}" alt="..." /></a>
      <strong class="text-center text-decoration-underline fs-3 text-dark">Diego Salamanca</strong>
      <strong class="text-center fs-4 text-dark">Especialista en direccion</strong>
      <div class="card-body">
      </div>
      <div class="card-footer">
      </div>
    </div>
    <div class="card">
      <a href="{% url 'mecanico5' %}"><img class="img-fluid" src="{% static '/img/mecanicos/mecanico5.jpg' %}" alt="..." /></a>
      <strong class="text-center text-decoration-underline fs-3 text-dark">Juan Salgado</strong>
      <strong class="text-center fs-4 text-dark">Especialista en Suspensión</strong>
      <div class="card-body">
      </div>
      <div class="card-footer">
      </div>
    </div>
    <div class="card">
      <a href="{% url 'mecanico6' %}"><img class="img-fluid" src="{% static '/img/mecanicos/mecanico6.jpg' %}" alt="..." /></a>
      <strong class="text-center text-decoration-underline fs-3 text-dark">Roberto Miranda</strong>
      <strong class="text-center fs-4 text-dark">Especialista en Servicio General</strong>
      <div class="card-body">
      </div>
      <div class="card-footer">
      </div>
    </div>
  </div>
{% endblock %}
